<body class="index-3">

<div id="home" data-toggle="top"></div>
<!-- header -->
<header id="header-3" class="dark-header">
    <!-- sticky navbar-1 transparent -->
    <nav class="navbar-1 navbar navbar-default-transparent navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/assets/financelas.png" alt="logo"></a>
            </div><!-- / navbar-header -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home" class="page-scroll"><span>Home</span></a></li>
                    <li><a href="#features" class="page-scroll"><span>Features</span></a></li>
                    <li><a href="#how" class="page-scroll"><span>Como Funciona</span></a></li>
                    <li><a href="#pricing" class="page-scroll"><span>Precios</span></a></li>
                    <li><a href="#team" class="page-scroll"><span>Equipo</span></a></li>
                    <!--<li><label class="btn btn-default-nav btn-pill"><a href="#newsletter" class="page-scroll">Subscribe</a></label></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- / container -->
    </nav><!-- / sticky navbar-1 transparent -->
    <div class="container has-sticky-menu">
        <div class="header-content">
            <div class="row">
                <div class="col-sm-6 header-content-details">
                    <h3 class="header-brand">Esto es <span class="text-primary">FINANCELAS</span> </h3>
                    <h3>Software de Proyecciones Financieras</h3>
                    <p>
                      Vinimos a cambiar la forma en que se hacen las proyecciones financieras. Creemos que las proyecciones son un
                      dolor de cabeza para los gerentes, administradores, empleados o emprendedores que no conocen al dedillo los entrecijos
                      de las finanzas corporativas. Nuestro objetivo es que pueda ingresar unas pocas variables (Entry-Points) y voilá, tienes unas
                      proyecciones financieras profesionales, que ayudarán a realizar el verdadero trabajo de analizar, controlar, medir y
                      decidir sobre dichas proyecciones.
                    </p>
                    <p>
                        <a href="#features" class="btn btn-md btn-light btn-pill page-scroll"><i class="lnr lnr-eye"></i><span>Ver Más</span></a>
                        <a href="#pricing" class="btn btn-md btn-primary-filled btn-pill page-scroll"><i class="lnr lnr-tag"></i><span>Nuestros Precios</span></a>
                    </p>
                </div><!-- / col-sm-6 -->
                <!-- header-video -->

                <div class="col-sm-6 header-content-feature">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/211556786"></iframe>
                    </div>
                </div><!-- / col-sm-6 -->
                <!-- / header-video -->
            </div><!-- / row -->
        </div><!-- / header-content -->
    </div><!-- / container -->
</header>
<!-- / header -->

<!-- content -->

<!-- features section 3col -->
<section id="features">
    <div class="container">
        <div class="page-header text-center">
            <h2>Features</h2>
        </div>
        <div class="row">
            <!-- feature-block -->
            <div class="col-sm-4 feature-center dark">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <h4>Menos Tiempo</h4>
                    <p>Disminuimos drásticamente el tiempo de elaboración de una proyección financiera</p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-sm-4 feature-center light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-database"></i>
                    </div>
                    <h4>Data</h4>
                    <p>Ingresando pocos datos se obtiene una proyección financiera profesional</p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-sm-4 feature-center dark">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-user"></i>
                    </div>
                    <h4>Background</h4>
                    <p>No tienes que ser un experto en Finanzas para hacer una proyección</p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-sm-4 feature-center light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-construction"></i>
                    </div>
                    <h4>Sectores</h4>
                    <p>Tienes la posibilidad de proyectar diferentes sectores economicos: Manufaturas, Servicios, etc.</p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-sm-4 feature-center dark">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-cart"></i>
                    </div>
                    <h4>Menos Costo</h4>
                    <p>Disminuimos dramáticamente el costo de hacer una proyección financiera en comparación a un profesional.</p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-sm-4 feature-center light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-mustache"></i>
                    </div>
                    <h4>Estándar</h4>
                    <p>Estandarizamos la forma en que se hacen las proyecciones financieras, unos pocos entry-points y voilá</p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / feature-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / features section 3col -->

<!-- how it works section 3col -->
<section id="how">
    <div class="container">
        <div class="page-header text-center">
            <h2>Cómo Funciona</h2>
        </div>
        <div class="row">

            <!-- hiw-content -->
            <div class="col-md-12 hiw-content">
                <div class="row">

                    <!-- how-block -->
                    <div class="col-sm-4 hiw next-indicator">
                        <div class="how block">
                            <div class="how-icon">
                                <span class="step-badge">1</span>
                                <i class="lnr lnr-enter"></i>
                            </div>
                            <h4>Registrarse</h4>
                        </div>
                    </div><!-- / col-sm-4 -->
                    <!-- / how-block -->

                    <!-- how-block -->
                    <div class="col-sm-4 hiw">
                        <div class="how block">
                            <div class="how-icon">
                                <span class="step-badge">2</span>
                                <i class="lnr lnr-checkmark-circle"></i>
                            </div>
                            <h4>Seleccionar</h4>
                        </div>
                    </div><!-- / col-sm-4 -->
                    <!-- / how-block -->

                    <!-- how-block -->
                    <div class="col-sm-4 hiw">
                        <div class="how block">
                            <div class="how-icon">
                                <span class="step-badge">3</span>
                                <i class="lnr lnr-cloud-upload"></i>
                            </div>
                            <h4>Entry Points</h4>
                        </div>
                    </div><!-- / col-sm-4 -->
                    <!-- / how-block -->
                </div><!-- / row -->

                <div class="row">

                    <!-- how-block -->
                    <div class="col-sm-4 hiw next-indicator">
                        <div class="how block">
                            <div class="how-icon">
                                <span class="step-badge">4</span>
                                <i class="lnr lnr-chart-bars"></i>
                            </div>
                            <h4>Proyección</h4>
                        </div>
                    </div><!-- / col-sm-4 -->
                    <!-- / how-block -->

                    <!-- how-block -->
                    <div class="col-sm-4 hiw">
                        <div class="how block">
                            <div class="how-icon">
                                <span class="step-badge">5</span>
                                <i class="lnr lnr-eye"></i>
                            </div>
                            <h4>Análisis</h4>
                        </div>
                    </div><!-- / col-sm-4 -->
                    <!-- / how-block -->

                    <!-- how-block -->
                    <div class="col-sm-4 hiw">
                        <div class="how block">
                            <div class="how-icon">
                                <span class="step-badge">6</span>
                                <i class="lnr lnr-cloud-download"></i>
                            </div>
                            <h4>Download</h4>
                        </div>
                    </div><!-- / col-sm-4 -->
                    <!-- / how-block -->
                </div><!-- / row -->
            </div><!-- / col-md-6 -->
            <!-- hiw-content -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / how it works section 3col -->

<!-- pricing tables -->
<section id="pricing">
    <div class="container">
        <div class="page-header text-center">
            <h2>Precios</h2>
        </div>
        <!-- pricing table 3col -->
        <div class="row">
            <!-- pricing-table -->
            <div class="col-sm-4">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">Una Proyección</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">$</span>
                            <span class="pricing-price">XXX.XXX</span><br>
                            <span class="pricing-period">/ por-proyección</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li><strong>Una Proyección</strong></li>
                            <li>Ideal para No Profesionales</li>
                            <li>Entry Points Ilimitados</li>
                            <li>Modulos Ilimitados</li>
                            <li>Acceso Ilimitado</li>
                            <li>Proyecciones Detalladas a 5 años</li>
                            <li>PDF, Excel Download</li>
                        </ul>
                        <!--<div class="pricing-table-button">
                            <a href="#" class="btn btn-primary-filled btn-pill"><i class="lnr lnr-cart"></i><span>Buy Now</span></a>
                        </div>-->
                    </div>
                </div>
            </div>
            <!-- / pricing-table -->

            <!-- pricing-table -->
            <div class="col-sm-4">
                <div class="featured pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">Membresía Trimestral</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">$</span>
                            <span class="pricing-price">XX.XXX</span><br>
                            <span class="pricing-period">/ por-mes</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                          <li><strong>Proyecciones Ilimitadas</strong></li>
                          <li>Ideal para Profesionales</li>
                          <li>Entry Points Ilimitados</li>
                          <li>Modulos Ilimitados</li>
                          <li>Acceso Ilimitado</li>
                          <li>Proyecciones Detalladas a 5 años</li>
                          <li>PDF, Excel Download</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / pricing-table -->

            <!-- pricing-table -->
            <div class="col-sm-4">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">Membresia Anual</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">$</span>
                            <span class="pricing-price">XX.XXX</span><br>
                            <span class="pricing-period">/ por-mes</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                          <li><strong>Proyecciones Ilimitadas</strong></li>
                          <li>Ideal para Profesionales</li>
                          <li>Entry Points Ilimitados</li>
                          <li>Modulos Ilimitados</li>
                          <li>Acceso Ilimitado</li>
                          <li>Proyecciones Detalladas a 5 años</li>
                          <li>Modulos Personalizados</li>
                          <li>PDF, Excel Download</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / pricing-table -->
        </div><!-- / row -->
        <!-- / pricing table 3col -->
    </div><!-- / container -->
</section>
<!-- / pricing tables -->

<!-- team section 3col -->
<section id="team">
    <div class="container">
        <div class="page-header text-center">
            <h2>El Equipo</h2>
        </div>
        <div class="row">
            <!-- team-block -->
            <div class="col-sm-4 col-sm-offset-2">
                <div class="team block text-center">
                    <img src="/assets/juan-david-2.png" alt="">
                    <h5>Juan David Alvarez</h5>
                    <p class="team-role">Co-Founder & CEO</p>
                    <p class="social center">
                        <a href="https://github.com/juandavidcowboy88" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/juan-david-alvarez-betancur-375b874b/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/juan.d.betancur" target="_blank"><i class="fa fa-facebook"></i></a>
                    </p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

            <!-- team-block -->
            <div class="col-sm-4">
                <div class="team block text-center">
                    <img src="/assets/daniel.png" alt="">
                    <h5>Daniel Morales</h5>
                    <p class="team-role">Co-Founder & CTO</p>
                    <p class="social center">
                        <a href="https://github.com/danielmoralesp" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/danielmorales1/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://twitter.com/daniel_moralesp" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/daniel.morales.739978" target="_blank"><i class="fa fa-facebook"></i></a>
                    </p>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / team section 3col -->

<!-- / content -->

<!-- footer -->
<!-- color footer with widgets -->
<footer class="color-footer">
    <div class="container">
        <p class="footer-info">© 2017 - <strong>Financelas</strong> - All Rights Reserved. <span class="pull-right">Hecho en <a >RubyOnRails</a></span></p>
    </div><!-- / container -->
</footer><!-- / color-footer -->

<!-- scroll to top -->
<a href="#home" class="scroll-to-top page-scroll is-hidden" data-nav-status="toggle"><i class="fa fa-angle-up"></i></a>
<!-- / scroll to top -->

</body>
